# Base URL for Klarna APIs (Playground by default)
KLARNA_API_BASE_URL=https://api.playground.klarna.com

# Public defaults for KP UI (used to prefill inputs on the client)
NEXT_PUBLIC_KLARNA_API_USERNAME=
NEXT_PUBLIC_KLARNA_API_PASSWORD=

# Public client identifier for Klarna SDKs (OSM/KEC)
# Override per env; default is a playground client key
NEXT_PUBLIC_KLARNA_CLIENT_ID=klarna_test_client_Rz9lVUchJChzJTlQU1lTS3g4KClpOUE0ZS9XIXNFOUcsODZiOWMxYzItYTMxYi00OWRjLTk3MzctMjA5ZWRjY2Q2MTEwLDEsc3hyRllrcDFMVmJ5cGRvR3huNm5VVHVBdDlUeEZUaHJDSnMycmRNRlhtRT0
