# Base URL for Klarna APIs (Playground by default)
KLARNA_API_BASE_URL=https://api.playground.klarna.com

# Public defaults for KP UI (used to prefill inputs on the client)
NEXT_PUBLIC_KLARNA_API_USERNAME=
NEXT_PUBLIC_KLARNA_API_PASSWORD=
